[submodule "plugins/nodejs"]
	path = plugins/nodejs
	url = https://github.com/version-fox/vfox-nodejs
[submodule "lua/lua-htmlparser"]
	path = lua/lua-htmlparser
	url = https://github.com/msva/lua-htmlparser
